/* Estilos generales */

@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url(../fonts/OpenSans-ExtraBold.ttf);
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: 'OpenSans-Medium';
  src: url(../fonts/OpenSans-Medium.ttf);
}
body{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-image: url(../img/fondo.png);
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: 105% 45%;
}
a{
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}
a:hover{
  text-decoration: none;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

/* Estilos generales */

/* Estilos Header */

header{
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: solid 1px #eaeaea;
}
header a#logo{
  display: flex;
  position: relative;
}
header #logo::after{
  content: '';
  left: 190px;
  width: 50px;
  height: 50px;
  top: -12px;
  background-image: url(../img/arbol-navidad.png);
  background-size: cover;
  position: absolute;
}
header a#logo img{
  width: 180px;
}
header form {
  color: #a5a5a5;
}
header form label{
  margin-right: 10px;
}
header form input::placeholder{
  color: #ccc !important;
}

/* Estilos Header */

/* Botones */

.btn-primary{
  background: transparent !important;
  color: #ff7840;
  border-color: #ff7840;
  margin-left: 10px;
}
.btn-primary:hover{
  background: #ff7840 !important;
  color: #fff;
  border-color:#ff7840;
}

/* Botones */

/* Cuerpo */

main{
  display: grid;
  grid-template-columns: 50% 50%;
  padding-left: 130px;
  padding-right: 130px;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Cuerpo */

/* Columna Izquierda */

main .columna-izq{
  padding-right: 100px;
}

main h3{
  font-weight: bold;
  margin-top: 20px;
  font-size: 16px;
  display: block;
  width: 100%;
  margin-bottom: 0px;
}
main h1{
  color:#ff7840;
  font-size: 43px;
  line-height: 1;
  display: block;
  width: 100%;
  font-weight: 400;
}
main h1 span{
  font-weight: bolder;
}
main p.lead{
  font-size: 1.1rem;
  font-weight: 300;
  width: 400px;
}
main .precio-anterior{
  font-size: 1.4rem;
  text-decoration:line-through;
  color: #aa1313;
}
main .ahora{
  text-align: left;
  color: #52a314;
}
main .btn-ficha {
  background: #fff;
  border: solid 2px #ff7840;
  color: #ff7840;
  margin-bottom: 25px;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  border-radius: 55px;
  font-size: 14px;
}
main .btn-ficha i{
  margin-left: 5px;
}
main .btn-ficha:hover, .btn-ficha:focus, .btn-ficha:active {
    background: #ff7840;
    border: solid 2px #ff7840;
    color: #fff;
}
main .valor{
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}
main .oferta{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 46%, rgba(129,129,129,1) 100%);
  color:#FFF;
  padding: 5px 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-weight: bold;
  display: inline-block;
  font-size: 1.2em;
}
main .monto{
  color: #ff7840;
  font-size: 2.5em;
  font-weight: lighter;
  margin-top: -10px;
  color: #52a314;
}
main .iva{
  color: #52a314;
  margin-left: 5px;
  margin-top: -5px;
  font-weight: 600;
  font-size: .9em;
}
p.paga{
  font-size: .9em;
}
.infox{
  margin-right: 0px;
}
main .text-left{
  margin-left: 80px;
}
main p.lead{
  margin-bottom: 0;
}

/* Columna Izquierda */

/* Columna Derecha */

main .colum-der{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .owl-one .item{
  overflow: hidden;
  padding: 20px;
  border-radius: 20px;
}
main video{
  width: 100%;
  -webkit-box-shadow: 3px 0px 10px rgb(0 0 0 / 40%);
  box-shadow: 3px 0px 10px rgb(0 0 0 / 40%);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
main #video{
  position: relative;
  z-index: 1;
}
main #video::before{
  content: "";
  position: absolute;
  left:-12%;
  top: 0;
  bottom: 0;
  z-index: 9999;
  background-image: url(../img/santa.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
}
main  .owl-one img{
  border-radius: 20px;
  -webkit-box-shadow: 3px 0px 10px rgb(0 0 0 / 40%);
  box-shadow: 3px 0px 10px rgb(0 0 0 / 40%);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
form.cantidad{
  background: #FFF;
  border:solid 1px #d5d5d5;
  padding: 14px 50px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
  margin-right: 0px;
}
form.cantidad label{
  margin-right: 15px;
  font-size: 1.2em;
  color: #999;
  line-height: 50px;
  margin-bottom: 0;
}
form.cantidad input.form-control{
  height: 50px!important;
  max-width: 70px !important;
}
form.cantidad .btn-submit{
  background: #f8753f;
  color: #FFF;
  border: solid 2px #d16234;
  position: relative;
  padding-right: 80px;
  padding-left: 30px;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  border-radius: 55px;
  padding-top: 4px !important;
}
form.cantidad .btn-submit:hover{
  background: #d16234;
  color: #FFF;
  border: solid 2px #d16234;
}
form.cantidad .btn-submit i{
  background: #fff;
  color: #f8753f;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 3.5px;
  right: 9px;
  line-height: 35px;
}
.owl-theme .owl-nav.disabled + .owl-dots{
  margin-top: 0;
}
.colum-der .btn-ficha{
  display: inline-block;
  width: 230px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 10px;
}
.mayorista {
  text-align: center;
  font-size: 1.2em;
  margin-top: 55px;
}
.mayorista a {
  color: #ff7840;
}

/* Columna Derecha */

/* Footer */

footer{
  padding-left: 35px;
  padding-right: 35px;
  border-top: solid 1px #eaeaea;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: .9em;
}
footer .sitio-seguro {
  color: #999;
  font-weight: 600;
}
footer .sitio-seguro i{
  color: #52a314;
  margin-right: 10px;
}

/* Footer */

/* Modal Carro */

.modal-title {
  font-weight: 800;
}

.modal-header {
  padding: 1em 2em;
}

.modal-body {
  padding: 1em 2em;
}

.modal-body strong {
  display: block;
  width: 100%;
  text-align: center;
  color: #348560;
  font-size: 1.4em;
  margin: 20px 0px;
  margin-top: 15px;
}

.btn-pagar {
  background: #21f484;
  color: #348560;
  font-weight: 700;
}

.btn-pagar:hover {
  background: #00d463;
  color: #FFF;
}

/* Modal Carro */

/* Gracias */

section.gracias .card{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
section.gracias{
  margin-bottom: 20px;
  padding: 2em 4em;
}

.gracias .list-group-item strong {
  float: right;
}

.gracias .card-body {
  padding: 0;
}

.gracias {
  padding-top: 80px;
}

.gracias h3 {
  padding-bottom: 10px;
  font-size: 1.4em;
}
.gracias .btn-submit{
  background: #f8753f;
  color: #FFF;
  border: solid 2px #d16234;
  position: relative;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  border-radius: 55px;
}
.gracias .btn-submit:hover{
  background: #d16234;
  color: #FFF;
  border: solid 2px #d16234;
}

footer p{
  margin: 0;
  padding: 0;
}

/* Gracias */

/* Media Queries Tablet 1024 */

@media (max-width: 1024px) {
  main{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  main .columna-izq {
    padding-right: 20px;
  }
  form.cantidad{
    padding: 14px 20px;
  }
}

/* Media Queries Tablet 1024 */

/* Media Queries Tablet 768 */

@media (max-width: 768px) {
  body{
    background-position: 116% 82%;
  }
  header{
    padding-left: 20px;
    padding-right: 20px;
  }
  main{
    grid-template-columns: 100%;
  }
  main .columna-izq{
    text-align: center;
  }
  main p.lead{
    margin-left: auto;
    margin-right: auto;
  }
  main .text-left{
    margin-left: 0;
    text-align: center !important;
  }
  form.cantidad, .infox{
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .mayorista{
    margin-top: 10px;
  }
  .owl-carousel{
    width: 90%;
    margin: auto;
  }
  main .ahora{
    text-align: center;
  }
}

/* Media Queries Tablet 768 */

/* Media Queries Smartphone 700 */

@media (max-width: 700px) {
  body{
    background-image: none;
  }
  .infox, .cantidad, header .form-consulta{
    display: none !important;
  }
  header{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  main{
    padding-left: 10px;
    padding-right: 10px;
  }
  footer{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  footer .text-right.sitio-seguro{
    text-align: center !important;
  } 
  footer p{
    margin-bottom: 10px;
  }
  #ModalEstado form input{
    margin-bottom: 20px;
  }
  #ModalEstado form .btn-primary{
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}